.pio/
.vscode/
__pycache__/
settings
Debug
*.py[cod]
*$py.class
*__pyc*/
*.DS_Store
*.autosave
*~
*#
Change*
CHANGE*
README*
COPY*
*CONTRIBU*
LICENSE*
HACKING*
*.swp
*.lck
*.log
*.ewt
*.ewd
*.crf
*.dep
*.map
*.hex
*.bin
*bak
*.txt
*.lst
*.sct
*.elf
*.ini
*.gbr
*.drl
*.ods
*.odg
*.csv
*.xml
# *.pdf
*_sc*
*cm23*
*cm33*
# *cm3*
# *cm4*
*cm7*
*cm1*
*cm0*
*.uvgu*
.gitmodules
# *.png
*.jpg
*.rst
.travis.yml
doc
*dox
tests
# mk
*.md
Doxyfile
**/*/README*
*.so
*.dcm
*32f100*
*32f101*
*32f102*
*32f105*
*32f107*
*32g*
*32h*
*32f7*
*32f4*
*32f3*
*32f2*
*32f0*
*32l*
